<div class="timeline-container">
    
    <div class="timeline">
        <ul >
            <li>
                <div class="timeline-content">
                    <h1>{{this.timeline_content[0].heading}}</h1>
                    <p>{{this.timeline_content[0].content}}</p>
                </div>
                
            </li>
            <li>
                <div class="timeline-content">
                    <h1>{{this.timeline_content[0].heading}}</h1>
                    <p>{{this.timeline_content[0].content}}</p>
                </div>
                
            </li>
            
            
        </ul>
    </div>
</div>
