<div class="timeline-container" *ngIf="cvData">
    
    <div class="timeline">
        <ul >
            <li>
                <div class="timeline-content">
                    <h1>{{cvData[0].date}}</h1>
                    <p>{{cvData[0].description}}</p>
                </div>
                
            </li>
            <li>
                <div class="timeline-content">
                    <h1>{{cvData[1].date}}</h1>
                    <p>{{cvData[1].description}}</p>
                </div>
                
            </li>
            <li>
                <div class="timeline-content">
                    <h1>{{cvData[2].date}}</h1>
                    <p>{{cvData[2].description}}</p>
                </div>
                
            </li>
            <li>
                <div class="timeline-content">
                    <h1>{{cvData[3].date}}</h1>
                    <p>{{cvData[3].description}}</p>
                </div>
                
            </li>
            
            
        </ul>
    </div>
</div>
