<div id="home-first-container" fxLayout="row wrap" >
    <div fxFlex="50" fxFlexAlign="center" >
        <img id="home-presentation-image" src="assets/profile-image.jpeg" />
    </div>

    <div fxFlexAlign="center" fxFlex="50"> 
        <h2 id="home-presentation-title"> Je m'appelle Adnan Goulamaly <br/>
             Bienvenue sur mon site !</h2>
       
    </div>

</div>

<div >
    <h2 class="other-home-title">Curriculum Vitae</h2>
</div>

<div>
    <h2 class="other-home-title">Mes projets</h2>
</div>