#cv-title-container{
    margin: 10% 0 70px 0;
  
}

#cv-title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    
}

.vertical-timeline{
    margin-bottom: 40px;
}


.mat-divider{
    border-top-color:rgb(58, 57, 57);
    margin: auto;
    width: 100px;
    border-top-width: 2px;
}