

#home-presentation-title{
    font-size: 24px;
    font-weight: 900;
}

#home-presentation-image{
    max-width: 60%;
    height: auto;
    width: auto\9; /* ie8 */
}

#home-first-container{
    background-color: white;
    margin: 0 0 0px 0px;
    padding: 50px 0 20px 0;
}

a {
    color: inherit;
}

.home-presentation-paragraph{
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 400;
}

.other-home-title{
    margin-top: 20px;
    font-size: 28px;
    font-weight: 450;
    text-align: center;


}

.home-presentation-divider{
    margin: 0 auto;
    width: 50%;
}

#home-content{
    border-top: 2px solid #eaeaea ;
    background-color: #fafafa ;
}