

#home-presentation-title{
    font-size: 24px;
   // font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;

}

#home-presentation-image{
    max-width: 60%;
    height: auto;
    width: auto\9; /* ie8 */
}

#home-first-container{
    background-color:rgb(250, 250, 255);
    margin: 0 0 0px 0px;
    padding: 50px 0 20px 0;
}

a {
    color: inherit;
}

.home-presentation-paragraph{
    font-family: 'Courier New', Courier, monospace;
}

.other-home-title{
    margin-top: 20px;
    font-size: 28px;
    font-weight: 450;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;


}

.home-presentation-divider{
    margin: 0 auto;
    width: 50%;
}