<div id="home-first-container" fxLayout="row wrap" fxLayout.xs="column" fxFlexAlign="center">
    <div fxFlexOffset="5" fxFlex="20" fxFlexAlign="center">
       <!-- <img id="home-presentation-image" src="assets/profile-image.jpeg" /> -->
    </div>

    <div fxFlexAlign="center" fxFlex="35">
        <div>
            <h2 id="home-presentation-title">
                Bonjour, <br />
                Je m'appelle Adnan Goulamaly <br />
                Bienvenue sur mon site !
            </h2>
        </div>
        <div fxFlexAlign="end">
            <p class="home-presentation-paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem fugiat eum earum officia? Ut minima
                voluptates neque illo magnam. Repellat quaerat tenetur maiores temporibus hic recusandae eligendi nam
                iste facere?
            </p>
        </div>


    </div>

    <div fxFlexOffset="5" fxFlexAlign="end" fxFlex="30" class="home-presentation-paragraph">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem laboriosam doloremque, qui velit quaerat fuga

            porro labore iusto odio debitis ratione libero, magnam optio fugit suscipit eaque maxime vel at?
        </p>
    </div>
    <div fxFlexOffset="5">

    </div>



</div>
<mat-divider class="home-presentation-divider"></mat-divider>




<div>

</div>
<div fxLayout="column">


    

    <h2 class="other-home-title">Curriculum Vitae</h2>




    <div fxFlexAlign="center">
        <a href="assets/CV-v1.pdf" target="_blank">
            <mat-icon>picture_as_pdf</mat-icon>
            Télécharger le CV (PDF)
        </a>
    </div>
</div>





<div>
    <h2 class="other-home-title">Mes projets</h2>
</div>