

#home-first-container{
    background-color: white;
    margin: 0 0 0px 0px;
    height: calc(100vh - 64px);
    background-image: url('../../../../assets/wallpaper-2-min.png');
    background-size: cover;
    //height: 100vh;
}


.home-presentation-title{
    font-size: 54px ;
    font-weight: 500;
    color:#212529;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    line-height: 55px;
 
}


.home-presentation-subtitle{
    font-size: 20px ;
    color:gray;
    text-align: center;
    line-height: 25px;


}

#home-presentation-image{
    max-width: 60%;
    height: auto;
    width: auto\9; /* ie8 */
}



a {
    color: inherit;
}

.home-presentation-paragraph{
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 400;
}



.home-presentation-divider{
    margin: 0 auto;
    width: 50%;
}

.cv-page-container{
    margin: 0 50px 0 50px;

}

.cv-download-container{
    margin: 0 50px 0 50px;
}

.cv-download-container a{
    display: block;
    margin:auto;
    text-align: center;
    font-size: 13pt;

}

.project-page-container{
    margin: 0 50px 50px 50px;
}

@media  (max-width: 320px)   {
    
    .home-presentation-title{
        font-size: 36px ;
        line-height: 40px;

    }

}