<mat-toolbar class="navbar">
  <button mat-icon-button >
    <mat-icon class="navbar-menu" >home</mat-icon>
  </button>
  <div>
    <span>
      <a class="navbar-menu" mat-button routerLink="/">
        Accueil
      </a>
    </span>
    <span button>
      <a class="navbar-menu" class="navbar-menu"  mat-button routerLink="/cv">
        CV
      </a>
    </span>
    <span>
      <a class="navbar-menu" mat-button routerLink="/project">
        Projets réalisés
      </a>
    </span>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>


