

.navbar {
    justify-content: space-between;
    
}

.mat-toolbar{
    position: sticky;
    top:0;
    left:0;
    z-index: 10;
}

.mat-sidenav{
    margin-top: 56px;
    position: fixed;
}




span {
    padding-right: 1rem;
}

a {
    font-size: 18px;
}


footer{
    padding: 20px 10px 10px 10px;
    //margin-top: 100px;
    height: 100px;
}
