<div >
  <mat-toolbar color="primary" class="navbar">


    <!-- <div fxShow="true" fxHide.gt-sm="true">
      <a href="#" (click)="sidenav.toggle()">Show Side Menu</a>
    </div> -->
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>

    <div fxShow="true" fxHide.lt-md="true">
      <button mat-icon-button routerLink="/">
        <mat-icon class="navbar-menu">home</mat-icon>
      </button>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <div>
        <span>
          <a class="navbar-menu" mat-button routerLink="/">
            Accueil
          </a>
        </span>
        <span button>
          <a class="navbar-menu" class="navbar-menu" mat-button routerLink="/cv">
            CV
          </a>
        </span>
        <span>
          <a class="navbar-menu" mat-button routerLink="/project">
            Projets réalisés
          </a>
        </span>
      </div>
    </div>



  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">

        <span>
          <a class="navbar-menu" mat-button routerLink="/">
            Accueil
          </a>
        </span>
        <span button>
          <a class="navbar-menu" class="navbar-menu" mat-button routerLink="/cv">
            CV
          </a>
        </span>
        <span>
          <a class="navbar-menu" mat-button routerLink="/project">
            Projets réalisés
          </a>
        </span>
       
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <mat-divider></mat-divider>
      <footer>
        <div>
          <p id="copyright-element">Copyright © 2021 ·</p>
          <p>Ce site à été realisé avec Angular</p>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- 

<mat-toolbar class="navbar" color="primary">
  <button mat-icon-button>
    <mat-icon class="navbar-menu">home</mat-icon>
  </button>
  <div>
    <span>
      <a class="navbar-menu" mat-button routerLink="/">
        Accueil
      </a>
    </span>
    <span button>
      <a class="navbar-menu" class="navbar-menu" mat-button routerLink="/cv">
        CV
      </a>
    </span>
    <span>
      <a class="navbar-menu" mat-button routerLink="/project">
        Projets réalisés
      </a>
    </span>
  </div>
</mat-toolbar>





<router-outlet></router-outlet>

<mat-divider></mat-divider>
<footer>
  <div>
    <p id="copyright-element">Copyright © 2021 ·</p>
  </div>
</footer> -->