<ul >
    <li>
        <div class="timeline-content">
            <h1>heading</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla aspernatur ratione odit optio iusto alias hic ea in perferendis?</p>
        </div>
    </li>
    <li>
        <div class="timeline-content">
            <h1>heading 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla aspernatur ratione odit optio iusto alias hic ea in perferendis?</p>
        </div>
    </li>
    <li>
        <div class="timeline-content">
            <h1>heading 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla aspernatur ratione odit optio iusto alias hic ea in perferendis?</p>
        </div>
    </li>
    <li>
        <div class="timeline-content">
            <h1>heading 4</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla aspernatur ratione odit optio iusto alias hic ea in perferendis?</p>
        </div>
    </li>
</ul>