.mat-card{
    box-sizing: border-box;
    height: 100%;
}

.mat-card-actions{
    padding: 0 ;
}

.mat-divider{
    border-top-color:rgb(58, 57, 57);
    margin: auto;
    width: 100px;
    border-top-width: 3px;
}

#project-title-container{
    margin: 10% 0 70px 0;
  
}

#project-title{
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: rgb(34, 33, 33);
    
}

.content{
    padding: 25px;
}