<div id="project-title-container">
    <h1 id="project-title">Projets</h1>
    <mat-divider></mat-divider>

</div>

<div data-aos="flip-up">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" >
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor='let project of projectsData'>
            <mat-card class="mat-elevation-z4"  >
                <mat-card-title> {{project.title}}</mat-card-title>
                <mat-card-subtitle>
                    {{project.technologies}}
                </mat-card-subtitle>
                <mat-card-content>{{project.description}}</mat-card-content>
                    <mat-card-actions>
                        <a mat-button color="primary" target="​_blank" [href]="project.presentationLink">
                            <fa-icon [icon]="faRocket"></fa-icon>
    
                            Lancer le projet en live
                        </a>
                    </mat-card-actions>
                    <mat-card-actions>
                        
                        <a mat-button color="primary" target="​_blank" [href]="project.repositoryLink">
                            <fa-icon [icon]="faGithub"></fa-icon>
                            Repository
                        </a>
                    </mat-card-actions>
            </mat-card>
        </div>
    
        
    </div>

</div>


