<h1 class="other-home-title">Projets</h1>

<div fxLayout="row" >
    <mat-card >
        <mat-card-title>Jeu du serpent (Snake)</mat-card-title>
        <mat-card-content>Description: Ce projet a été réalisé en javascript</mat-card-content>
        <mat-card-footer>
            <mat-card-actions>
                <button mat-button color="primary">Lancer le projet en live</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
    
    <mat-card >
        <mat-card-title>Application Web de gestion de projet</mat-card-title>
        <mat-card-content>Description: </mat-card-content>
        <mat-card-footer>
            <mat-card-actions>
                <button mat-button color="primary">Acceder au projet</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</div>


