<h1 class="other-home-title">Projets</h1>

<div fxLayout="row">
    <mat-card *ngFor='let project of projectsData'>
        <mat-card-title> {{project.title}}</mat-card-title>
        <mat-card-content>{{project.description}}</mat-card-content>
            <mat-card-actions>
                <a mat-button color="primary" target="​_blank" [href]="project.presentationLink">Lancer le projet en live</a>
            </mat-card-actions>
            <mat-card-actions>
                <a mat-button color="primary" target="​_blank" [href]="project.repositoryLink">Repository</a>
            </mat-card-actions>
    </mat-card>
</div>

